@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: #000000;
    ;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    grid-template-areas: 
        "nav"
        "hero"
        "footer";
    
    min-width: 280px;
    min-height: 100vh;
}

/* Nav */
nav {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: nav;

    background-color: #FFFFFF;
    width: 100%;
    height: 50px;
}

nav > * {
    margin: auto;
}

.nav-links {
    list-style: none;
    margin-left: 8px;
    font-weight: bold;
    max-width: 112px;
}

li {
    display: inline-block;
    font-size: .75rem;
    margin: 1px;
}

.link {
    text-decoration: none;
}

nav > h1 {
    font-size: 1.25rem;
    margin: auto;
}

button {
    background-color: #000000;
    color: #FFFFFF;
    font-size: .6rem;
    padding: 2px 5px;
    border: none;
    border-radius: 2px;
    width: 65px;
    height: 2em;
}

#nav-button {
    margin: auto 15px auto auto;
}

/* Content */
#hero {
    grid-area: hero;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;

    height: 520px;
    background-color: #F2F2F2;
}

#hero-img-placeholder {
    border: 1px solid #000000;
    border-radius: 2px;
    width: 260px;
    height: 186.27px;
    margin: auto;
}

#hero-content {
    margin: auto;
}

#hero-content * {
    margin: auto;
    padding: 5px 8px;
}

/* Footer */
footer {
    height: 125px;
    grid-area: footer;
    background-color: #F2F2F2;

    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: 
        "logo product features"
        "logo resources company";
}

footer * {
    margin: auto 0;
}

#company-info {
    grid-area: logo;
    margin: auto;
}

#product {
    grid-area: product;
}

#features {
    grid-area: features;
}

#resources {
    grid-area: resources;
}

#company {
    grid-area: company;
}

.footer-resources ul *, #company-info ul *{
    font-size: .6rem;
    display: block;
}

.footer-resources h6 {
    font-size: .65rem;
}

#company-info > h5 {
    font-weight: bolder;
    font-size: .8rem;
}

/* Media queries */
@media (min-width: 477px) {
    .nav-links {
        max-width: 155px;
    }

    footer {
        height: 150px;
    
        grid-template-rows: auto;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "logo product features resources company";
    }

    .footer-resources ul *, #company-info ul *{
        font-size: .85rem;
        display: block;
    }
    
    .footer-resources h6 {
        font-size: .9rem;
    }
    
    #company-info > h5 {
        font-weight: bolder;
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) {
    nav {
        height: 62px;
    }
    
    .nav-links {
        list-style: none;
        margin-left: 10px;
        font-weight: bolder;
        max-width: 185px;
    }
    
    li {
        display: inline-block;
        font-size: .9rem;
        margin: 2px;
    }

    nav > h1 {
        font-size: 2rem;
    }
    
    button {
        font-size: .8rem;
        padding: 2px 5px;
        border-radius: 4px;
        width: 95px;
        height: 2em;
    }

    #nav-button {
        margin: auto 25px auto auto;
    }
}

/* .posts {
    width: 100%;
    height: 820px;
    display: flexbox;
    flex-direction: column;
    background-color: gray;
}

#tall {
    background-color: #F2F2F2;
} */
